<div class="container height">
    <div class="row">
        <div class="col col-lg-auto">            
            <nav class="navbar bg-light">
                <div class="container-fluid">
                    <ul class="navbar-nav">
                        <li class="nav-item"><h2 class="heading-2">Admin</h2></li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true}">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="./manage-dataset" routerLinkActive="active">Manage Data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="./api" routerLinkActive="active">API</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="./api/add" routerLinkActive="active">Add data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="./api/edit" routerLinkActive="active">Edit data</a>
                        </li>
                        <li class="nav-item">
                            <a routerLinkActive="active" routerLink="./help" class="nav-link disabled">Help</a>
                        </li>
                        <li class="nav-item">
                            <a routerLinkActive="active" routerLink="./help" class="nav-link disabled">API Access</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>