<div class="height">
    <div class="container mb-4">
        <div class="d-flex justify-content-between">
            <div class="d-flex">
                
                
                <h2 class="heading-2"><i class="bi bi-layout-text-sidebar"></i> Browse the Mountain Libary</h2>
            </div>
            <div>
                <button class="btn btn-footer" [routerLink]="['/admin/api/add']"><i class="bi bi-plus-square"></i> Add</button>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <ul class="list-group">
            <ng-container *ngIf="mList">

                <li class="list-group-item shadow mb-4" *ngFor="let item of mList">
                    <div class="row">
                        <div class="col">
                            <p>Name: {{ item.name }}</p>
                            <p>Ort: {{ item.location }}</p>
                            <p>Länge: {{ item.length }}</p>
                            <p>Maximale Höhe: {{ item.maxHight }}</p>
                            <button class="btn btn-footer" (click)="edit(item.id)">Edit</button>
                            <button class="btn btn-danger mx-3" (click)="remove(item.id)">Remove</button>
                        </div>
                        <div class="col-3">
                            <img src="{{item.imageUrl}}" alt="{{item.name}}-Image" class="img-thumbnail">
                        </div>
                    </div>
                </li>
            </ng-container>
        </ul>
    </div>
</div>