<div class="container height">
  <h2 class="heading-2"><i class="bi bi-search"></i> Search in our Mountains-Database</h2>
  <hr>
  <form [formGroup] = "searchForm" (ngSubmit)="onSubmit()">
    <div class="form-group mb-3">
        <input id="search" class="form-control me-2" type="text" type="search" placeholder="Search" formControlName="search">
    </div>
    <button class="btn btn-header" type="submit">Search</button>
  </form>
  <hr>
  <p>{{ message }}</p>
  <div>
    <ul class="list-group">
        <ng-container *ngIf="mList">
            <li class="list-group-item shadow mb-4" *ngFor="let item of mList">
                <div class="row">
                    <div class="col">
                        <p>Name: {{ item.name }}</p>
                        <p>Ort: {{ item.location }}</p>
                        <p>Länge: {{ item.length }}</p>
                        <p>Maximale Höhe: {{ item.maxHight }}</p>
                    </div>
                    <div class="col-3">
                        <img src="{{item.imageUrl}}" alt="{{item.name}}-Image" class="img-thumbnail">
                    </div>
                </div>
            </li>
        </ng-container>
    </ul>
  </div>
</div>
<!--
  <form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-header" type="submit">Search</button>
  </form>
-->
<!--
<div>
    <ul class="list-group">
        <ng-container *ngIf="mList">
            <li class="list-group-item shadow mb-4" *ngFor="let item of mList">
                <div class="row">
                    <div class="col">
                        <p>Name: {{ item.name }}</p>
                        <p>Ort: {{ item.location }}</p>
                        <p>Länge: {{ item.length }}</p>
                        <p>Maximale Höhe: {{ item.maxHight }}</p>
                    </div>
                    <div class="col-3">
                        <img src="{{item.imageUrl}}" alt="{{item.name}}-Image" class="img-thumbnail">
                    </div>
                </div>
            </li>
        </ng-container>
    </ul>
  </div>
-->