<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2 class="heading-2">Welcome to Mountray!</h2>
            <hr>
            <p>This Website provides a *large* dataset of the biggest mountains on earth. you can either browse our dataset or look up for a specific mountain.<br>
                We also provide API Access navigate to ./API to view the documentation</p>
        </div>
        
    </div>
</div>
<div class="row">
    <div class="col">
        <app-browse></app-browse>
    </div>
    <div class="col">
        <app-search></app-search>
    </div>
</div>