<div class="hero-class shadow">
    <div class="hero-text">
        <h2 class="heading-2">Welcome to</h2>
        <h1 class="heading-1">Mountray</h1>
        <button class="btn btn-header mx-2" [routerLink]="['/search']">Search</button>
        <button class="btn btn-header mx-2" [routerLink]="['/browse']">Browse</button>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col text-center">
            <h2 class="heading-2">Services</h2>
            <hr>
            <p>This Website provides a *large* dataset of the biggest mountains on earth. you can either browse our dataset or look up for a specific mountain.<br>
                We also provide API Access navigate to ./API to view the documentation</p>
        </div>
        
    </div>
    <div class="row">
        <div class="col">
            <app-browse></app-browse>
        </div>
        <div class="col">
            <app-search></app-search>
        </div>
    </div>
</div>
